.wrap {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.getInTouch {
  font-weight: 900;
  font-size: 2vw;
  width: 17.5vw;
  height: 4.7vw;
  line-height: 4.7vw;
  vertical-align: middle;
  background-color: #cf403d;
  color: #fff;
  box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: transform 0.5s;
}
.getInTouch:hover {
  transition: transform 0.5s;
  transform: scale(1.1);
}
.contactUs {
  display: flex;
  justify-content: space-between;
  width: 22vw;
  font-size: 1vw;
  font-weight: 600;
  letter-spacing: 0.3em;
  margin-top: 0.8vw;
}
.contact {
  color: #cf403d;
}
.us {
  color: #000;
}
