.section4 {
  height: 100%;
  padding-top: 75px;
  @media screen and (max-width: 1079px) {
    padding-top: 40px;
  }
  .content_left {
    font-size: 25px;
    color: #07154f;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-family: Monst-SB;
    line-height: 1;
    margin: 0px;
    font-weight: bold;
    border-right: 1px solid #07154f;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .content_right {
    font-size: 16px;
    line-height: 1.4;
    font-family: Monst-SB;
    font-weight: 700;
    line-height: 25px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .image_frame {
    visibility: visible;
    animation-duration: 0.7s;
    animation-delay: 0.05s;
    animation-name: fadeInUp;
    .image_pc {
      @media screen and (min-width: 1080px) {
        display: block;
      }
      @media screen and (max-width: 1079px) {
        display: none;
      }
    }
    .image_mb {
      @media screen and (min-width: 1080px) {
        display: none;
      }
      @media screen and (max-width: 1079px) {
        display: block;
      }
    }
  }
}
