.section4 {
  height: 100vh;
  padding-top: 75px;
  @media screen and (max-width: 1079px) {
    height: 100%;
    padding-top: 40px;
  }
  .title {
    display: block;
    background: -moz-linear-gradient(left, #ec1c24 0%, #3a1f46 10%);
    background: linear-gradient(to right, #ec1c24 0%, #3a1f46 10%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    font-size: 30px;
    font-family: Geo-BA;
    text-transform: uppercase;
    font-weight: bold;
    &:after {
      content: "";
      display: inline-block;
      width: 100%;
      vertical-align: middle;
      background: -moz-linear-gradient(left, #3a1f46 0%, #ec1c24 100%);
      background: linear-gradient(to right, #3a1f46 0%, #ec1c24 100%);
      height: 3px;
      margin-right: -100%;
      top: -6px;
      position: relative;
      margin-left: 30px;
    }
    @media screen and (max-width: 767px) {
      font-size: 20px;
    }
  }
  .sub_title {
    visibility: visible;
    animation-duration: 0.5s;
    animation-delay: 0.01s;
    animation-name: fadeIn;
    font-size: 45px;
    color: #ec1c24;
    margin: 7px 0 0 0;
    padding-bottom: 30px;
    line-height: 50px;
    font-weight: bold;
    &:after {
      content: "";
      display: block;
      width: 60px;
      height: 8px;
      background-color: red;
      margin: 23px 0 0 0;
    }
    @media screen and (max-width: 767px) {
      font-size: 30px;
      line-height: 35px;
      padding-bottom: 15px;
    }
  }
  .content_left {
    font-size: 25px;
    color: #07154f;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-family: Monst-SB;
    line-height: 1;
    margin: 0px;
    font-weight: bold;
    border-right: 1px solid #07154f;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .content_right {
    font-size: 16px;
    line-height: 1.4;
    font-family: Monst-SB;
    font-weight: 700;
    line-height: 25px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .image_frame {
    visibility: visible;
    animation-duration: 0.7s;
    animation-delay: 0.05s;
    animation-name: fadeInUp;
    .image_pc {
      @media screen and (min-width: 1080px) {
        display: block;
      }
      @media screen and (max-width: 1079px) {
        display: none;
      }
    }
    .image_mb {
      @media screen and (min-width: 1080px) {
        display: none;
      }
      @media screen and (max-width: 1079px) {
        display: block;
      }
    }
  }
}
