%img {
  cursor: pointer;
  width: 0.4vw;
}

.wrap {
  font-weight: 700;
  font-size: 1.3vw;
  color: #4b4b4b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgPrev {
  @extend %img;
}
.current {
  margin-left: 0.5em;
  color: #fff;
}
.max {
  margin-right: 0.5em;
}
.imgNext {
  @extend %img;
  transform: rotate(180deg);
}
