.section5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}
.title {
  font-size: 1.4rem;
  font-weight: 900;
  margin: 0;
  margin-bottom: 3vh;
  text-align: center;
}
.redTitle {
  font-size: 2.8rem;
  margin: 0;
}
.blackTitle {
  margin: 0;
  font-size: 1rem;
}
.wrapSlide {
  justify-content: center;
  display: flex;
  position: relative;
}
.swiper {
  width: 80%;
}
.wrapImg {
  position: relative;
  flex: 1 1 50%;
  width: auto;
  transform: translateX(2.5vw);
}
.img {
  width: 100%;
}
.wrapContent {
  flex: 1 1 50%;
  box-shadow: -1px 10px 17px 0 rgba(136, 134, 146, 0.5);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 2;
  font-weight: 400;
  position: relative;
  margin-bottom: 2.5vh;
  margin-top: 2.5vh;
  transform: translateX(-2.5vw);
  padding-left: 4%;
  padding-right: 4%;
}
.contentTitle {
  font-size: 1.6rem;
  font-weight: 900;
  margin-bottom: 0;
}
.contentDes {
  font-size: 1.2rem;
  font-weight: 900;
  margin-bottom: 0;
  color: #cf403d;
}
.slideIndicator {
  display: flex;
  position: absolute;
  z-index: 999;
  bottom: 30vh;
  justify-content: center;
  right: 15vw;
  font-weight: 900;
  font-size: 1.25rem;
  line-height: 40px;
  height: 40px;
  vertical-align: middle;
}
.numIndicator {
  margin-right: 30px;
}
.gray {
  color: #acacac;
}
.prev {
  line-height: 40px;
  width: 40px;
  height: 40px;
  border: 2px solid red;
  text-align: center;
  font-size: 2rem;
  vertical-align: middle;
  cursor: pointer;
}
.next {
  line-height: 40px;
  width: 40px;
  height: 40px;
  border: 2px solid red;
  text-align: center;
  font-size: 2rem;
  vertical-align: middle;
  cursor: pointer;
}
.ul {
  list-style-image: url('/static/about-us/arrowli.png');
}
