.flexBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapText {
  writing-mode: vertical-lr;
  color: #fff;
  font-size: 2.2vh;
  font-weight: 900;
  letter-spacing: 0.16em;
  transform: rotate(180deg);
  text-transform: uppercase;
}
.wrapImg {
  margin-bottom: 2.2vh;
}
.img {
  height: 4.8vh;
}
.whiteColor {
  color: #fff;
}
.blackColor {
  color: #000;
}
