.section3 {
  height: 100vh;
  padding-top: 75px;
  @media screen and (max-width: 1079px) {
    height: 100%;
    padding-top: 40px;
  }
  .item_build {
    text-align: center;
    p {
      visibility: visible;
      animation-duration: 0.6s;
      animation-delay: 0.03s;
      animation-name: fadeInUp;
      margin-top: 30px;
      font-size: 15px;
      font-family: Monst-SB;
      line-height: 1.4;
      color: #000;
      font-weight: 600;
      @media screen and (max-width:767px) {
        font-size:12px;
        margin-top: 10px;
      }
    }
  }
}
