.swiperContainer {
  height: 100%;
  align-items: center;
}
.wrapSlide {
  display: flex;
  height: 100%;
}
.left {
  background: #000;
  flex: 1 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.mid {
  background: #000;
  flex: 1 0;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
}
.mid:before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.right {
  background: #000;
  flex: 1 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.slideNav {
  margin: 0 auto;
  text-align: center;
  width: 30%;
  position: relative;
  top: -5vh;
  z-index: 9;
  background-image: linear-gradient(
    to right,
    #ff0000,
    #c20023,
    #820327,
    #420f1d,
    #000000
  );
  height: 15%;
  display: flex;
  color: #fff;
  font-weight: 700;
  align-items: center;
  justify-content: space-around;
}
.cursor {
  cursor: pointer;
}
.viewCase {
  text-decoration: underline;
}
/*.bottomText {
  text-align: center;
  position: relative;
  top: -3vh;
  font-weight: 700;
  word-spacing: 3em;
  letter-spacing: 0.5em;
  font-size: 0.7em;
}
.redText {
  color: #d30000;
}*/
.textWrap {
  color: #fff;
  position: relative;
  z-index: 999;
  font-weight: 400;
  padding-left: 3vw;
  padding-right: 3vw;
}
.title {
  color: #cf403d;
  font-size: 1.5em;
  font-weight: 900;
}
.des {
  font-weight: 700;
  font-size: 1.1em;
}
