.section2 {
  //   padding: 90px 0px;
  margin-left: 0px !important;
  margin-right: 0px !important;
  background-image: url("/static/page-bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;

  @media screen and(max-width:991px) {
    height: 100%;
  }
  @media screen and (min-width: 1024px) and (max-width: 1200px) {
    height: 80vh;
  }
  @media screen and (min-height: 1300px) {
    height: 60vh;
  }
  .leftBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    font-weight: 700;
    font-size: 4.5vw;
    line-height: 5vw;
    @media screen and (min-width: 992px) and(max-width:1200px) {
      height: 77vh;
    }
    @media screen and (max-width: 767px) {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 20px;
      padding-left: 15px;
      padding-right: 15px;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      font-size: 35px;
      line-height: 45px;
    }
    @media screen and (min-width: 400px) and(max-width:500px) {
      font-size: 30px;
      line-height: 35px;
    }
    @media screen and (min-height: 1300px) {
      height: 60vh;
    }
    // @media screen and (min-width: 1366px) {
    //   font-size: 65px;
    //   line-height: 70px;
    // }
    .left__padding {
      height: 70%;
      padding: 25px 50px;
      background-color: #fff;
      box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.4);
      margin-left: 30px;
      @media screen and (min-width: 1600px) {
        width: 90%;
      }
      @media screen and(min-width:768px) and (max-width: 991px) {
        padding: 0px;
        width: 100%;
        text-align: center;
        padding: 30px 100px;
        height: 100%;
        margin: 0px;
        margin: 20px 0;
      }
      @media screen and(max-width:767px) {
        padding: 15px;
        // padding-top: 15px;
        margin-left: 0px;
        height: 100%;
      }
    
    }
    .career {
      font-size: 17px;
      margin-top: 20px;
      text-decoration: underline;
      color: #000;
      display: block;
      @media screen and (min-width: 1600px){
        font-size:22px;
      }
      @media screen and (max-width: 1280px) {
        font-size: 15px;
      }
    }
    p {
      font-size: 14px;
      line-height: 1.2;
      color: #000;
      margin: 0 0 10px;
      @media screen and (min-width: 1600px){
        font-size:22px;
      }
      @media screen and (max-width: 1280px) {
        font-size: 13px;
      }
      @media screen and (max-width: 767px) {
        display: inline-block;
        padding-left: 5px;
      }
    }
    h2 {
      color: #cf403d;
      margin: 0;
      line-height: 1.5;
      font-size: 17px;
      @media screen and (min-width: 1600px){
        font-size:22px;
      }
      @media screen and (max-width: 1280px) {
        font-size: 15px;
      }
      @media screen and (max-width: 767px) {
        display: inline-block;
        padding-left: 5px;
      }
    }
    h1 {
      margin: 30px 0 0;
      font-size: 26px;
      line-height: 1.3;
      font-weight: 700;
      @media screen and (min-width: 1600px){
        margin: 20px 0 0 ;
        font-size:30px;
      }
      @media screen and (max-width: 1280px) {
        font-size: 22px;
      }
      @media screen and (max-width: 767px) {
        margin: 15px 0 0;
      }

    }
  }
  .rightBlock {
    height: 100%;
    .frameimg {
      position: absolute;
      top: 0;
      right: 0;
      height: 85vh;
      width: 100%;
      @media screen and (min-width: 320px) and(max-width:374px) {
        position: relative;
        height: 400px;
      }
      @media screen and (min-width: 375px) and(max-width:413px) {
        position: relative;
        height: 470px;
      }
      @media screen and(min-width:414px) and(max-width:567px) {
        position: relative;
        height: 520px;
      }
      @media screen and(min-width:568px) and (max-width: 666px) {
        height: 715px;
        position: relative;
      }
      @media screen and(min-width:667px) and (max-width: 735px) {
        height: 845px;
        position: relative;
      }
      @media screen and(min-width:736px) and (max-width: 767px) {
        height: 930px;
        position: relative;
      }
      @media screen and(min-width:768px) and(max-width:991px) {
        position: relative;
        height: 970px;
      }
      @media screen and (min-width: 1024px) and (max-width: 1280px) {
        height: 70vh;
      }
      @media screen and (min-height: 1300px) {
        height: 60vh;
      }
      @media screen and (min-height: 550px) and (max-height:700px)
      {
        height:440px;
      }
      @media screen and (min-height:701px) and (max-height:800px) {
        height:505px;
      }
    }

    .photo_1 {
      right: 20%;
      height: 85vh;
      position: absolute;
      @media screen and(max-width:991px) {
        width: auto;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
        // padding: 0 15px;
        right: 0px;
        height: auto;
        left: 0px;
      }
      @media screen and(min-width:992px) and (max-width: 1200px) {
        height: 65vh;
      }
    }
    .photo_2 {
      right: 5%;
      bottom: 5%;
      height: 65vh;
      position: absolute;
      -webkit-box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.4);
      -ms-box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.4);
      -o-box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.4);
      box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.4);
      @media screen and(max-width:767px) {
        display: none;
      }
      @media screen and(max-width:991px) {
        width: auto;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
        padding: 0 15px;
        right: 0px;
        height: auto;
        top: 0px;
      }
      @media screen and(min-width:992px) and (max-width: 1200px) {
        bottom: 25%;
        height: 40vh;
      }
    }
    .photo_3 {
      left: -14%;
      bottom: 15%;
      height: 30vh;
      position: absolute;
      -webkit-box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.4);
      -ms-box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.4);
      -o-box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.4);
      box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.4);
      @media screen and(max-width:767px) {
        display: none;
      }
      @media screen and(max-width:991px) {
        width: auto;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
        padding: 0 15px;
        bottom: 30px;
        height: auto;
        left: 0px;
      }
      @media screen and (min-width: 992px) and(max-width:1200px) {
        bottom: 40%;
        height: 20vh;
      }
    }
    .fade-shadow {
      -webkit-box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.4);
      -ms-box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.4);
      -o-box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.4);
      box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.4);
    }
    img {
      vertical-align: middle;
      border: 0;
      @media screen and (min-height: 1300px) {
        max-height: 100%;
      }
    }
  }
}
