.contact_form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(54, 54, 54, 0.95);
  z-index: 999;
  display: block;

  .content {
    padding: 30px 70px 60px 30px;
    max-width: 1000px;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    @media screen and(max-width:816px) {
      width: 85%;
      height: auto;
      padding: 20px;
      right: 0px;
      left: 0px;
      margin: 0 auto;
      margin-top: 15%;
      max-height: 100%;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      transform: none;
      top: 0px;
    }
    @media screen and (max-width:320px) {
      max-height: 83%;
    }
    .warp_content {
      margin: 0;
      padding: 0;
      border: 0;
      vertical-align: baseline;
    }

    .left_content {
      display: inline-block;
      vertical-align: middle;
      @media screen and(max-width:816px) {
        height: 130px;
        margin-top: 20px;
      }
      @media screen and(min-width:991px) and (max-width: 1200px) {
        height: 200px;
      }
      img {
        position: absolute;
        top: 15%;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        @media screen and(max-width:816px) {
          top: 0px;
          right: 0px;
          left: 0px;
          margin: 0 auto;
        }
        @media screen and(min-width:991px) and (max-width: 1200px) {
          width: auto;
          top: 0px;
          right: 0px;
          left: 0px;
          margin: 0 auto;
        }
      }
    }

    .right_content {
      width: 65%;
      padding-left: 70px;
      display: inline-block;
      vertical-align: middle;
      @media screen and(max-width:816px) {
        width: 100%;
        padding: 0px;
      }
      .inner_close {
        text-align: right;
        cursor: pointer;
        position: relative;
        right: -20px;
        @media screen and(max-width:1200px) {
          position: absolute;
          right: 5px;
          top: -155px;
          max-width: 100%;
          max-height: 100%;
          width: auto;
        }
        &:hover {
          cursor: pointer;
        }
      }

      .title {
        display: inline-block;
        background: -moz-linear-gradient(left, #ec1c24 0%, #3a1f46 100%);
        background: linear-gradient(to right, #ec1c24 0%, #3a1f46 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 30px;
        font-family: Geo-BA;
        text-transform: uppercase;
        color: linear-gradient(to right, #ec1c24 0%, #3a1f46 100%);
        &::after {
          content: "";
          display: block;
          width: 60px;
          height: 8px;
          background-color: red;
          margin: 20px 0 0 0;
        }
        @media screen and(max-width:1200px) {
          backface-visibility: hidden;
          display: inline-block;
          margin-top: 7px;
          position: absolute;
          top: -170px;
        }
      }

      .form_custom {
        margin-top: 65px;
        @media screen and(max-width:816px) {
          margin-top: 15px;
        }
        @media screen and(min-width:991px) and (max-width: 1200px) {
        }
        .input_contact {
          width: 100%;
          padding: 19px 27px;
          font-size: 16px;
          border: 1px solid #b7b7b7;
          border-radius: 30px;
          -webkit-border-radius: 30px;
          @media screen and (max-width: 861px) and (max-height:700px) {
            padding: 10px 27px;
          }
        }

        .btn_group {
          margin-top: 35px;
          text-align: right;
          @media screen and(max-width:816px) {
            text-align: center;
            margin-top: 25px;
          }
          input {
            outline: 0;
            font-size: 17px;
            cursor: pointer;
            text-align: center;
            display: inline-block;
            min-width: 164px;
            text-transform: uppercase;
            color: #ec1c24;
            font-family: Monst-B;
            border: 2px solid;
            border-radius: 18px;
            -webkit-border-radius: 18px;
            -moz-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
            -webkit-transition: all 0.2s ease-in;
            border: 1px solid;
            padding: 8px 10px;
            background-color: transparent;
            font-weight: bold;
            &:hover {
              background: #ec1c24;
              color: white;
            }
          }
        }
      }
    }
  }
}
