.section3 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
.centerDiv {
  width: 80%;
  height: 80%;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.centerDiv:before {
  content: '';
  width: 70%;
  height: 70%;
  background-color: #fff;
  position: absolute;
  box-shadow: -1px 3px 17px 0 rgba(0, 0, 0, 0.5);
}
.wrapContent {
  z-index: 999;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.375rem;
  font-weight: 700;
  width: 100%;
}
.title {
  margin: 0 0 0 5%;
  font-size: 3.5rem;
  font-weight: 900;
}
.content {
  margin-left: 10%;
  width: 30%;
  font-size: 1.6rem;
}
.email {
  cursor: pointer;
}
.a {
  text-decoration: none;
}
